* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;


}

header {
    background-color: rgb(48, 48, 51);
    color: aqua;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}

.name {
    font-size: 50px;
    margin: 0;
    background-image: url(./assets/images/banner-2.jpg);
}

a,
.nav-links,
.avatar {
    display: flex;
    margin-right: 1rem;
    text-transform: capitalize;
    text-decoration: underline double;
    font-weight: bold;
    font-size: 22px;
    color: aquamarine;
    float: right;
}

.avatar {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.subtitle-container {
    display: block;
    background-image: url(./assets/images/banner.jpg);
    height: 12rem;
}

.p1 {
    width: 20%;
    padding: 10px;
    margin: 50px;
    float: right;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    color: rgb(185, 209, 209);
    background-image: url(./assets/images/banner-2.jpg);
}

main {
    width: 100%;
    margin: 20px;
}

section,
footer,
.about-me {
    display: flex;
    justify-content: space-between;
}

.about-head,
.work-head,
.footer-head {
    font-size: 60px;

}

.p-about {
    max-width: 50%;
    font-size: 18px;
}

section,
.work {}

footer {}

.footer-head {}

footer,
.footer-container {
    display: flex;
}